@media only screen and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        position: relative;
        z-index: 10;
    }

    #headerContent {
        height: 315px;
        position: relative;
    }

    #mainSection {
        margin-top: 240px;
        padding: 0px;
    }

    #topRecipes {
        margin-top: 55px;
    }

    #ourLatestRecipes {
        margin-top: 55px;
    }
}